<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="col-md-10">
    <div class="row">
        <div class="col-md-8">
            <h1>{{.payload.Title}}</h1>
        </div>   
        {{ if .is_logged_in }}
        <a href="/article/delete/{{.payload.ID}}" class="btn btn-info" role="button">Delete</a>
        {{ end }}
    </div>
    <!--Display the title of the article-->

    <!--Display the created time of the article-->
    <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span>{{.payload.CreatedAt}}</p>
    
    <!--Display the content of the article-->
    <p>{{.payload.Content}}</p>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}